@import "tailwindcss";

@theme {
  /* Animations */
  --animate-slide-in: slideIn 0.3s ease-out;
  --animate-toast-in: toastIn 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  --animate-reveal: reveal 0.5s ease-out;

  /* Difficulty colors */
  --color-difficulty-1: #f9df6d;
  --color-difficulty-2: #a0c35a;
  --color-difficulty-3: #b0c4ef;
  --color-difficulty-4: #ba81c5;

  /* Semantic colors */
  --color-header-bg: #ffffff;
  --color-header-border: #d3d6da;
  --color-app-text: #1a1a1b;
  --color-app-bg: #f5f5f5;
  --color-tile-bg: #efefe6;
  --color-tile-selected: #5a594e;
  --color-solved-text: #121213: ;
}

/* Update variables for dark mode manually if not using inline variants */
@layer base {
  .dark {
    --color-header-bg: #121213;
    --color-header-border: #3a3a3c;
    --color-app-text: #d7dadc;
    --color-app-bg: #121213;
    --color-tile-bg: #3a3a3c;
    --color-tile-selected: #818384;
    --color-solved-text: #123213;
  }

  body {
    @apply bg-app-bg text-app-text transition-colors duration-200;
    font-family:
      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toastIn {
  0% {
    transform: scale(0.8, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes reveal {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
